<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390109708902-uhl1kkceibhgps7sh57ognnhu37rfqev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390109708902-uhl1kkceibhgps7sh57ognnhu37rfqev</string>
	<key>API_KEY</key>
	<string>AIzaSyCD6QcVjuxtNa8I4T9NHmEtKToY07zB2A8</string>
	<key>GCM_SENDER_ID</key>
	<string>390109708902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arriaga.template</string>
	<key>PROJECT_ID</key>
	<string>template-ionic5</string>
	<key>STORAGE_BUCKET</key>
	<string>template-ionic5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390109708902:ios:56bf50a7f55e4ce19363a7</string>
	<key>DATABASE_URL</key>
	<string>https://template-ionic5.firebaseio.com</string>
</dict>
</plist>